[submodule "third_party/ctre"]
        path = third_party/ctre
        url = https://github.com/hanickadot/compile-time-regular-expressions.git
[submodule "third_party/clipper2"]
        path = third_party/clipper2
        url = https://github.com/AngusJohnson/Clipper2.git
[submodule "third_party/CavalierContours"]
	path = third_party/CavalierContours
	url = https://github.com/jbuckmccready/CavalierContours.git
