# C++ objects and libs
*.a
*.dll
*.dylib
*.la
*.lai
*.lo
*.o
*.slo
*.so
*.so.*

# Qt-es
*.jsc
*.moc
*.prl
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.qm
*.qmlc
*.txt.user
*.txt.user.*
*_plugin_import.cpp
*build-*
/.qmake.cache
/.qmake.stash
Makefile*
moc_*.cpp
moc_*.h
object_script.*.Debug
object_script.*.Release
qrc_*.cpp
ui_*.h

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database
compile_commands.json

# QtCreator local machine specific files for imported projects
*_qmlcache.qrc
*creator.user*

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================

# Operating System Files

# OSX
.AppleDouble
.DS_Store
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
.apdisk
Network Trash Folder
Temporary Items

# User's project preferences
*.user*

# Build dir
build
build-*
libs_*

# Binaries
bin/*

# ....
2geom/*
style/*

# Idea
.idea

# VS
.vs
debug
release
ui_*
uic_*

#vscode
.vscode

#makefiles

#binaries
bin

#wrappers
*_wrapper.bat

# notepad++
*.bak
