[submodule "third_party/compile-time-regular-expressions"]
        path = third_party/compile-time-regular-expressions
	url = git@github.com:hanickadot/compile-time-regular-expressions.git
[submodule "third_party/pfr_non_boost"]
        path = third_party/pfr_non_boost
	url = git@github.com:apolukhin/pfr_non_boost.git
[submodule "third_party/Clipper2"]
        path = third_party/Clipper2
        url = git@github.com:XRay3D/Clipper2.git
