name: Build

on:
  push:
    branches: [ dev ]
  pull_request:
    branches: [ dev ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: windows-latest
    defaults:
        run:
            shell: msys2 {0}

    steps:
      - uses: msys2/setup-msys2@v2
        with:
            install: mingw-w64-x86_64-toolchain
            msystem: mingw64
            release: true

      - name: Install Qt
        uses: jurplel/install-qt-action@v2
        with:
          version: '5.15.2'
          host: 'windows'
          target: 'desktop'
          arch: 'win64_mingw122'
          dir: '${{github.workspace}}/qt/'
          install-deps: 'true'

      - name: List files in Qt
        run: find ${{env.Qt5_Dir}}

      - uses: actions/checkout@v2

      - name: Configure CMake
        env:
          CMAKE_PREFIX_PATH: ${{env.Qt5_Dir}}
        run: cmake -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -G "CodeBlocks - MinGW Makefiles" -B '${{github.workspace}}'/build

      - name: Build
        run: cmake --build '${{github.workspace}}'/build --target RePr











            # name: CMake

            # on:
            #   push:
            #     branches: [ "master" ]
            #   pull_request:
            #     branches: [ "master" ]

            # env:
            #   # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
            #   BUILD_TYPE: Release

            # jobs:
            #   build:
            #     # The CMake configure and build commands are platform agnostic and should work equally well on Windows or Mac.
            #     # You can convert this to a matrix build if you need cross-platform coverage.
            #     # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
            #     runs-on: ubuntu-latest

            #     steps:
            #     - uses: actions/checkout@v3

            #     - name: Configure CMake
            #       # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
            #       # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
            #       run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

            #     - name: Build
            #       # Build your program with the given configuration
            #       run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

            #     - name: Test
            #       working-directory: ${{github.workspace}}/build
            #       # Execute tests defined by the CMake configuration.
            #       # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
            #       run: ctest -C ${{env.BUILD_TYPE}}

